<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
<div *ngFor="let candidate of electoralCandidates" class="row bootstrap snippets bootdeys">
    <div class="col-md-3">
      <div class="panel widget">
        <div class="widget-header bg-primary"></div>
        <div class="widget-body text-center">
          <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="{{candidate?.image}}">
          <h4 class="mar-no">{{candidate?.firstName + " " + candidate?.lastName}}</h4>
          <p class="text-muted mar-btm">{{candidate?.partyName}}</p>
    
          <div class="pad-ver">
            <button (click)="casteVote(candidate.candidateId)" routerLink="home" class="btn btn-primary">Vote</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>